version: "3.1"
services:
    www:
        build: .
        ports: 
            - "80:80"
        volumes:
            - ./vapi:/var/www/html/vapi
        links:
            - db
        networks:
            - default
        environment:
          APP_NAME: Laravel
          APP_ENV: local
          APP_KEY: "base64:JUXTsCKQubRlvxGv6sVwkFL2rJ/gSksD4B/68948Mww:"
          APP_DEBUG: "true"
          APP_URL: http://vapi.test
          SERVER_PORT: 80
          LOG_CHANNEL: errorlog
          LOG_LEVEL: debug
          DB_CONNECTION: mysql
          DB_HOST: db
          DB_PORT: 3306
          DB_DATABASE: vapi
          DB_USERNAME: root
          DB_PASSWORD: vapi123456
          BROADCAST_DRIVER: log
          CACHE_DRIVER: file
          FILESYSTEM_DRIVER: local
          QUEUE_CONNECTION: sync
          SESSION_DRIVER: file
          SESSION_LIFETIME: 120
          MEMCACHED_HOST: 127.0.0.1
          REDIS_HOST: 127.0.0.1
          REDIS_PASSWORD: ""
          REDIS_PORT: 6379
          MAIL_MAILER: smtp
          MAIL_HOST: mailhog
          MAIL_PORT: 1025
          MAIL_USERNAME: ""
          MAIL_PASSWORD: ""
          MAIL_ENCRYPTION: ""
          MAIL_FROM_ADDRESS: ""
          MAIL_FROM_NAME: "${APP_NAME}"
          AWS_ACCESS_KEY_ID:
          AWS_SECRET_ACCESS_KEY:
          AWS_DEFAULT_REGION: us-east-1
          AWS_BUCKET:
          AWS_USE_PATH_STYLE_ENDPOINT: "false"
          PUSHER_APP_ID:
          PUSHER_APP_KEY:
          PUSHER_APP_SECRET:
          PUSHER_APP_CLUSTER: mt1
          MIX_PUSHER_APP_KEY: "${PUSHER_APP_KEY}"
          MIX_PUSHER_APP_CLUSTER: "${PUSHER_APP_CLUSTER}"
    db:
        image: mysql:8.0
        ports: 
            - "3306:3306"
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_DATABASE: vapi
            MYSQL_USER: vapi
            MYSQL_PASSWORD: vapi123456
            MYSQL_ROOT_PASSWORD: vapi123456
        volumes:
            - ./database:/docker-entrypoint-initdb.d
            - ./conf:/etc/mysql/conf.d
            - persistent:/var/lib/mysql
        networks:
            - default
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        links: 
            - db:db
        ports:
            - 8001:80
        environment:
            MYSQL_USER: user
            MYSQL_PASSWORD: test
            MYSQL_ROOT_PASSWORD: test 
volumes:
    persistent: